<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>{{ label }}</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{ memoryd_bin }}</string>
    <string>sync</string>
    <string>export</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>{{ hour }}</integer>
    <key>Minute</key><integer>{{ minute }}</integer>
  </dict>
  <key>StandardOutPath</key><string>{{ log_dir }}/{{ label }}.out.log</string>
  <key>StandardErrorPath</key><string>{{ log_dir }}/{{ label }}.err.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>MEMORYD_DATA_ROOT</key><string>{{ data_root }}</string>
  </dict>
</dict>
</plist>
